
body {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.p1 {
    height: 50vh;
    background-color: aquamarine;
}

.p2 {
    height: 50vh;
    background-color: darkcyan;
}

canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    display: block;
    object-fit: contain;
    touch-action: none;
}

.overlay {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.startButton {
    position: absolute;
    top: 49vh; left: 49vw;
    z-index: 3;
}
