
body {
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-size: 16px;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.p1 {
    height: 50vh;
    background-color: #202124;
}

.p2 {
    height: 50vh;
    background-color: #202124;
}

canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    display: block;
    object-fit: contain;
    touch-action: none;
}

.overlay {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.startButton {
    position: absolute;
    top: 40vh; left: 45vw;
    z-index: 3;
    color: black;
    font-size: 20px;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    border: 0;
}
