
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 16px;
    overflow: hidden;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.p1 {
    height: 50vh;
    background-color: black;
}

.p2 {
    height: 50vh;
    background-color: black;
}

canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    display: block;
    object-fit: contain;
    touch-action: none;
}

.overlay {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

button {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 10em;
    height: 3em;
    background: linear-gradient(to bottom, #485563, #29323c);
    border-radius: 0.5em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
